appdirs==1.4.4
asciitree==0.3.3
attrs==21.4.0
bed-reader==0.2.9
bgen-reader==4.0.8
Bottleneck @ file:///tmp/build/80754af9/bottleneck_1648028898966/work
cachetools==5.0.0
cbgen==1.0.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
cloudpickle==2.0.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
dask==2022.1.0
dask-glm==0.2.0
dask-ml==2022.1.22
Deprecated==1.2.13
dill==0.3.4
distributed==2022.1.0
fasteners==0.17.3
fonttools==4.25.0
fsspec==2022.3.0
h5py==3.6.0
HeapDict==1.0.1
idna==3.3
iniconfig==1.1.1
Jinja2==3.1.1
joblib==1.1.0
kiwisolver @ file:///opt/conda/conda-bld/kiwisolver_1638569886207/work
lazy_loader==0.1rc2
littleutils==0.2.2
llvmlite==0.38.0
locket==1.0.0
MarkupSafe==2.1.1
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1647441664166/work
mkl-fft==1.3.1
mkl-random @ file:///tmp/build/80754af9/mkl_random_1626186066731/work
mkl-service==2.4.0
more-itertools==8.12.0
msgpack==1.0.3
multipledispatch==0.6.0
munkres==1.1.4
numba==0.55.1
numcodecs==0.9.1
numexpr @ file:///tmp/build/80754af9/numexpr_1640689833592/work
numpy==1.21.6
outdated==0.2.1
packaging==21.3
pandas==1.3.5
pandas-flavor==0.3.0
pandas-plink==2.2.9
partd==1.2.0
patsy==0.5.2
Pillow==9.0.1
pluggy==1.0.0
pooch==1.6.0
psutil==5.9.0
py==1.11.0
pycparser==2.21
pyparsing==3.0.8
pysnptools==0.5.3
pytest==7.1.2
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
scikit-learn==1.0.2
scipy==1.8.0
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
seaborn-qqplot==0.5.0
sgkit==0.5.0
sip==4.19.13
six==1.16.0
sortedcontainers==2.4.0
statsmodels @ file:///tmp/build/80754af9/statsmodels_1648015433305/work
tabulate==0.8.9
tblib==1.7.0
texttable==1.6.4
threadpoolctl==3.1.0
tomli==2.0.1
toolz==0.11.2
tornado==6.1
tqdm==4.64.0
typing_extensions==4.2.0
urllib3==1.26.9
wrapt==1.14.1
xarray==2022.3.0
zarr==2.10.3
zict==2.1.0
zstandard==0.17.0
